.AboutMe-page {
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    justify-content: center;
    align-items: center;
    flex-wrap: row;
    flex:1;
}

.AboutMe-page img {
    height: 100%;
}
.AboutMe-img {
    max-width: 50vw;
    height: 40vh;
    padding: var(--m);
}


.AboutMe-text {
    margin: var(--l);
    margin-right: 5%;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: start;
    height: fit-content;
    flex: 0 1 30vw;

    background-color: var(--background);
}



.AboutMe-text h3 {

    height: 100%;
    font-size: 150%;
    font-family: var(--main-font);
    margin: var(--s);
}
.AboutMe-text p {
    font-size:80%;
    height: 100%;
    font-family: var(--second-font);
    margin: var(--s);
}

@media screen and (max-width: 600px){
    .AboutMe-page {
        flex-direction: column-reverse;
        height: calc(100% + 25vh);
        width:100%; 
        justify-content: flex-end;
}
    .AboutMe-text {
        flex: 0 1 100vw;
        justify-content: center;
        margin: var(--m);
    }
    .AboutMe-text h3 {
        background-color: rgba(46, 196, 182, 0.3);
        padding: var(--s);
        height:fit-content;
    }
}
/* .u-textWrapper {
    width: 80%;
} */

@media screen and (max-width: 880px){
    .AboutMe-text {padding-bottom: 70px ;}
}

@media screen and (min-width: 940px) and (min-height: 600px){
    .AboutMe-page {
        background: url("../../public/AboutMe.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 30vw;
    }
}