
@media screen and (max-width: 600px){
    .Home-page {
        flex-direction: column-reverse;
        height: calc(100% + 25vh);
        width:100%; 
        justify-content: flex-end;
}
    .Home-text {
        flex: 0 1 100vw;
        justify-content: center;
        margin: var(--m);
    }
    .Home-text h3 {background-color: rgba(46, 196, 182, 0.3); padding: var(--s); height:fit-content;}
}
/* .u-textWrapper {
    width: 80%;
} */

@media screen and (max-width: 880px){
    .Home-text {padding-bottom: 70px ;}
}

@media screen and (min-width: 600px){
    .Home-page {
        background: url("../../public/front-page-border.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 100%;
    }
}